<h1 class="bg-danger">Made In India</h1>
<!-- <img src="../assets/images/1.jpg"> -->
<header>
<app-header></app-header>
</header>

<app-formcalculate></app-formcalculate>
<nav>
<app-nav></app-nav>
</nav>

{{title}}
<br>
{{uname}}
<br>
{{designation}}
<br>
{{age}}
<br>
{{location}}
All Courses : {{courses[0]}} {{courses[1]}} {{courses[1]}}
<table>
    <tr *ngFor="let user of users">
        <td>{{user.uname}}</td>
        <td>{{user.designation}}</td>
        <td>{{user.age}}</td>
        <td>{{user.location}}</td>

</tr>
    
</table>

<app-tform></app-tform>



